.nota{
  border: 1px solid rgb(95, 99, 104);
  border-radius: 8px;
}
.nota h2{
  font-size: 1em;
  font-weight: 600;
}
.nota .cuerpo{
  padding: 0.5em 1em 2em;
  display: flex;
  flex-flow: column nowrap;
}
.nota .cuerpo > span{
  margin-top: 0.5em;
  font-size: 0.8em;
}
.nota .enlaces{
  border-top: 1px solid rgba(218,220,224,0.541);
  display: flex;
  flex-flow: row nowrap;
  height: 56px;
  background-color: rgba(255,255,255,0.08);
}
.nota .enlaces > img{
  width: auto;
  height: inherit;
}
.nota .enlaces > figcaption{
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5em;
  margin-right: 2em;
  text-overflow: ellipsis;
  justify-content: center;
}
.nota .enlaces h3{
  font-size: 0.8em;
  overflow: hidden;
  font-weight: 600;
}
.nota .enlaces .url{
  color:rgb(200, 200, 200);
  font-size: 0.75em;
}
