@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;900&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

body{
  background: rgb(143, 143, 143);
  padding: 1em;
  margin: 0;
  font-family: 'Source Sans Pro';
}

button{
  padding: 0;
  font-size: inherit;
  border: none;
  background: none;
}
