.boton{
  border-radius: 4px;
  font-weight: 600;
  padding: 0.5em 1em;
  cursor: pointer;
}

.boton.lda{
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color:rgba(0, 0, 0, 0.1);
}

.boton.inicio{
  border: 1px solid transparent;
  background-color: rgb(255, 255, 255);
  color: rgb(80, 131, 198);
}

.boton:hover{
  transform: translateY(-1px);
  box-shadow: 0 4px 0.1em rgba(0, 0, 0, 0.2)
}
