.tarjeta{
  background-color: rgb(25, 39, 52);
  display: flex;
  flex-flow: column;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
}

.tarjeta .titulo{
  font-weight: 700;
}

.tarjeta > span, .tarjeta > div{
  border-bottom: 1px solid rgb(56, 68, 77);
}

.tarjeta > *{
  padding: 0.5em 0.8em;
}

.recomendacion.seguir{
  display: flex;
  flex-flow: row nowrap;
  height: 45px;
  align-items: center;
  transition-duration: 0.2s;
  transition-property: background;
}
.recomendacion.seguir:hover, .tarjeta > a:hover{
  background-color: hsl(208, 35%, 18%);
  transition-duration: 0.2s;
}
.recomendacion.seguir .perfil{
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 0 1em;
  font-size: 0.9em;
}
.recomendacion.seguir .perfil > span:first-child{
  font-weight: 700;
}
.recomendacion.seguir .perfil > span:last-child{
  color: rgb(150, 150, 150);
  font-size: 0.9em;
}
.recomendacion.seguir img{
  border-radius: 50%;
  height: 100%;
}

.tarjeta > a{
  color: rgb(28, 227, 118);
  font-size: 0.8em;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: background;
}
.tarjeta > a, .recomendacion.seguir{
  cursor: pointer;
}
.tarjeta .boton.cta{
  max-width: 70px;
  
}
