body{
  display: grid;

  /* alternativa fija (solución fea pero es la que usa airbnb) */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: min-content 1fr;
}

body > h1{
  grid-column: 1 / -1;
}
